<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     id="disclaimer-dialog"
     title="disclaimer">
  <h3>Terms and conditions:</h3>
  <form id="disclaimer-form" action="${req.href.ajax('disclaimer')}" method="post">
    <input type="hidden" name="version" value="${version}"/>
    <input type="hidden" name="name" value="${name}"/>
    <input type="hidden" name="body" value="${body}"/>
    <div class="highlight">
     	${wiki_to_html(context, body, escape_newlines=preserve_newlines)}
    </div>
    <br />
    <div>
    	<div style="float:left;">
    		<input type="checkbox" name="accept"/>&nbsp;<span>I have read and agree with these terms and conditions.</span>
    	</div>
    	<div style="float:right; margin-top:-5px;">
    		<img id="save-spinner" src="${href.chrome('common','loading.gif')}" alt="Processing..."/>
    		<button class="btn btn-mini btn-primary" type="submit" name="send" value="Accept"><i class="fa fa-check fa-inverse"></i> Accept</button>
    	</div>
    </div>
	<div style="float:clear;" />
  </form>
</div>
